h1{
    text-align: center;
}
nav {
    display: flex;
    gap: 0.5rem;
margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
a[ href="index.html"],a[href="page2.html"],a[href="page3.html"],a[href="page4.html"]{
    flex:1;
    background-color: #999;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out
}
a:hover,
a:focus{
    background-color: #fff;
    color:#999;
}

 @keyframes bg-scrolling-reverse {
     100% {
         background-position: 50px 50px;
     }
 }

 /* Main styles */
 body {

     color: #999;
     font: 400 24px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
     text-align: center;
     /* img size is 50x50 */
     background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;

     animation: bg-scrolling-reverse 0.92s infinite;

     animation-timing-function: linear;

 }
 fieldset{
    background-color: white;
    display: inline-block;
    height:100%;
    width: 15%;
margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
 }

form{


    margin-left: auto;
        margin-right: auto;
}

label {
  display: inline-block;
  width: 140px;
  text-align: center;
}
input[type=text]{
display: block;
margin: 0 0 1em 0;
width: 50%;
    border: 1px solid #818181;
padding: 5px;
margin: auto;

}
label[for=story]{
    display: inline-block;
margin-top: 50px;
        text-align: center;
    }

textarea {
    background: url(images/benice.png) center center no-repeat;
    /* This ruins default border */
    display: flex;
        align-items: center;
    border: 1px solid #818181;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
        margin-right: auto;
resize: none;
overflow: auto;
font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    width: 15%;
}
#submit {
  background-color: #e8e8e8;
padding: 16px 32px;
border-radius: 32px;
  color: #666666;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
margin-left: auto;
    margin-right: auto;
  overflow: hidden;
  width: 170px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 6px #33313f;
  position: relative;
margin-top: 50px;
}
#submit:hover {
    background-color: #999;
        color: #ffffff;
    }
.box{
background-color: white;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    overflow: hidden;
        width: 500px;
        outline: none;
        border: none;
        box-shadow: 0px 2px 6px #33313f;
        position: relative;
        margin-top: 50px;

}
a[href^=http]
{
 background-color: #999;
    color: #fff;

    text-decoration: none;
border: 2px solid;
padding: 1px;
width: 100px;
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
margin: auto;
}


div.gallery {

display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px ;
}

div.gallery img {
display: flex;
    align-items: center;
    justify-content: center;
width: 400px;
height: auto;

box-shadow: 0px 2px 6px #33313f;
    position: relative;


}
div.gallery img:hover{
    opacity: .8;
}
